@mixin size {
    width: 25px;
    height: 25px;
}

.game {
    display: flex;
    flex-direction: row;
}

.tetris {
    display: flex;
    flex-direction: column;
}

.matrix {
    border: solid;
}

.row {
    display: flex;
    width: fit-content;
}

.col {
    @include size();
}

.controls {
    margin: auto;
}

.item {
    border-color: black;
    border-style: solid;
    background-color: yellow;
    @include size();
}

.next {
    margin-left: 5px;
    width: 100px;
}