@mixin size {
    width: 25px;
    height: 25px;
}

.game {
    display: flex;
    flex-direction: row;
}

.tetris {
    display: flex;
    flex-direction: column;
}

.matrix {
    border: solid;
}

.row {
    display: flex;
    width: fit-content;
}

.col {
    @include size();
}

.controls {
    margin: auto;
    display: flex;
    width: 100%;
    margin-top: 15px;

    &__movement {
        width: 75%;
        text-align: center;
    }

    &__flip {
        width: 25%;
        text-align: center;
    }

    &__row {
        display: block;
    }
}

.item {
    border-color: black;
    border-style: solid;
    background-color: yellow;
    @include size();
}

.next {
    margin-left: 5px;
    width: 100px;
}